{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        {{ with .Site.Params.aside }}
        <div class="call-to-action">
            <h2>{{ .headline }}</h2>
            <a href="{{ .button.link }}" class="btn btn-default btn-xl wow tada">{{ .button.text }}</a>
        </div>
        {{ end }}
    </div>
</aside>
