{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="no-top-padding">
    <div class="container">
        <div class="row">
            <!-- heading -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
        <div class="row">
            <!-- phone -->
            <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>
                    {{ with .Site.Params.contact.phone }}
                    <a href="tel:{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
            </div>
            <!-- skype -->
            <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <i class="fa fa-skype fa-3x wow bounceIn"></i>
                <p>
                    {{ with .Site.Params.contact.skype }}
                    <a href="skype:{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
            </div>
            <!-- email -->
            <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p>
            </div>
        </div>
    </div>
</section>
