{{ "<!-- COPYRIGHT -->" | safeHTML }}
<section class="bg-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ with .Site.Params }}
                    <ul class="list-inline text-center">
                        {{ if .twitterUsername }}
                            <li>
                                <a href="https://twitter.com/{{ .twitterUsername }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .facebookUsername }}
                            <li>
                                <a href="https://www.facebook.com/{{ .facebookUsername }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .linkedinCompanyname }}
                            <li>
                                <a href="https://www.linkedin.com/{{ .linkedinCompanyname }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .githubUsername }}
                            <li>
                                <a href="https://github.com/{{ .githubUsername }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .githubProject }}
                            <li>
                                <a href="https://github.com/{{ .githubProject }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .gitlabUsername }}
                            <li>
                                <a href="https://gitlab.com/{{ .gitlabUsername }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .gitlabProject }}
                            <li>
                                <a href="https://gitlab.com/{{ .gitlabProject }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                        {{ if .emailUsername }}
                            <li>
                                <a href="mailto:{{ .emailUsername }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                    <p class="copyright text-muted center">
                        This page is generated from
                        <a href="https://gitlab.com/{{ .gitlabProject }}/blob/master/config.toml">
                            a public file on GitLab.com
                        </a>
                        — merge requests with improvements are
                        <a href="https://gitlab.com/{{ .gitlabProject }}/blob/master/CONTRIBUTING.md">
                            very welcome
                        </a>.
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">
                            <img style="display: inline" alt="Creative Commons License" src="/img/by-sa.svg"/>
                        </a>
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
