{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ with .Site.Params.navigation.links }}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">{{ .about }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{{ .services }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">{{ .portfolio }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="//blog.4ge.it">{{ .blog }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#consultancy">{{ .consultancy }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">{{ .team }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{{ .contact }}</a>
                </li>
            </ul>
            {{ end }}
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
