{{ "<!-- Team Modals -->" | safeHTML }}
{{ range .Site.Data.members }}
<div class="team-modal modal fade" id="teamModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ .name }}</h2>
                        <hr class="star-primary">
                        <img src="https://secure.gravatar.com/avatar/{{ .gravatar }}?s=250/" class="img-responsive img-centered" alt="">
                        <p>{{ .description | markdownify }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.team.modal.buttonText }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
