<section id="team">
    <div clss="container">
        <div class="row">
            <!-- heading -->
            {{ with .Site.Params.team }}
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x {{ .icon }} wow bounceIn text-primary"></i>
                <h2 class="section-heading">{{ .headline }}</h2>
                <hr class="primary">
                <p>{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- members -->
            {{ range .Site.Data.members }}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="#teamModal{{ .modalID }}" class="team-box team-link" data-toggle="modal">
                    <img src="https://secure.gravatar.com/avatar/{{ .gravatar }}?s=650/" class="img-responsive" alt="">
                    <div class="team-box-caption">
                        <div class="team-box-caption-content">
                            <div class="member-role text-faded">
                                {{ .role }}
                            </div>
                            <div class="project-name">
                                {{ .name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
